@media (min-width: 851px) and (max-width: 1024px) {
  header {
    flex-direction: row;
    padding: 2rem 0rem;
    img {
      width: 40%;
      margin-bottom: 1rem;
    }
    nav {
      text-align: center;
      ul {
        flex-direction: column;
        gap: 10px;
        li {
          padding: 1rem;
          &:nth-child(4) {
            margin: 0rem;
          }
          a {
            padding: 1rem;
          }
        }
      }
    }
  }
  section {
    padding: 1rem 0rem 33em 0rem;
    img {
      width: 90%;
    }
    div {
      position: relative;
      top: 460px;
      right: 0px;
      p {
        padding: 1rem;
      }
    }
  }

  main {
    h1 {
      font-size: 1rem;
      padding: 1rem;
    }
    .container_cuidados {
      .container_cards {
        flex-direction: column;
        padding: 1rem 1rem;
        div {
          border: 3px solid $cor-primaria;
          border-radius: 30px;
          margin-top: 2.5rem;
          padding: 0.5rem;
          transition: 0.8s;
        }
      }
    }
  }
  .container_card {
    .cc {
      .card {
        width: 300px;
        img {
          max-width: 260px;
        }
        .inferior {
          padding: 1rem 1rem 2rem 1rem;
        }
      }
    }
    a {
      padding: 2rem;
      background: $cor-escura;
      color: white;
      font-size: 1.4;
      border-radius: 20px;
      text-transform: uppercase;
      font-weight: bold;
      text-decoration: none;
      list-style: none;
      &:hover {
        border-radius: 20px;
        background: $cor-2;
        text-decoration: none;
        list-style: none;
        color: white;
      }
    }
  }
}
