@media (min-width: 521px) and (max-width: 760px) {
  header {
    flex-direction: column;
    padding: 2rem 0rem;
    img {
      width: 50%;
      margin-bottom: 1rem;
    }
    nav {
      text-align: center;
      ul {
        flex-direction: column;
        gap: 10px;
        li {
          padding: 1rem;
          &:nth-child(4) {
            margin: 0rem;
          }
          a {
            padding: 1rem;
          }
        }
      }
    }
  }
  section {
    padding: 1rem 0rem 19em 0rem;
    img {
      width: 90%;
    }
    div {
      position: relative;
      top: 290px;
      right: 0px;
      p {
        padding: 1rem;
      }
    }
  }

  main {
    h1 {
      font-size: 1rem;
      padding: 1rem;
    }
    .container_cuidados {
      .container_cards {
        .cc {
          flex-direction: column;
          padding: 1rem 1rem;
          div {
            border: 3px solid $cor-primaria;
            border-radius: 30px;
            margin-top: 2.5rem;
            padding: 0.5rem;
            transition: 0.8s;
          }
        }
        a {
          padding: 2rem;
          background: $cor-escura;
          color: white;
          font-size: 1.4;
          border-radius: 20px;
          text-transform: uppercase;
          font-weight: bold;
          text-decoration: none;
          list-style: none;
          &:hover {
            border-radius: 20px;
            background: $cor-2;
            text-decoration: none;
            list-style: none;
            color: white;
          }
        }
      }
    }
  }

  footer {
    .footer {
      flex-direction: column;
      .info {
        nav {
          li {
            img {
              width: 25%;
            }
            margin-bottom: 2rem;
          }
        }
      }
      img {
        width: 100%;
        margin-top: 1rem;
      }
    }
  }
}
