$fonte-principal: "Montserrat", sans-serif;
$fonte-secundaria: "Oswald", sans-serif;
$fonte-terciaria: "Playfair Display", serif;

$cor-primaria: #d2b394;
$cor-secundaria: #f0e5dc;
$cor-escura: #483125;
$cor-1: #7a4522;
$cor-2: #9a5e2e;
$cor-3: #d5a677;
$cor-4: #d4d0d0;
